    <div class="jumbotron">
        <div class = "row">
            <div class = "col-xs-12 vcenter">
                <div class = "text-center"><h2><span class="glyphicon glyphicon-phone"></span> + <span class="glyphicon glyphicon-lock"></span> = THIS</h2></div>
            </div>
        </div>
    </div>
    <div class="row" style="font-size:1.5em; font-family:sans-serif;max-width: 105.5rem;">
        <p>Authentication process is a mundane thing to deal with. We'd like to make it a little less boring. Mobile technologies have allowed us to make use of our fingers, giving us a natural sense interaction with our smartphones.</p>
        
        <p>Our application recognizes the movement/gesture of users' fingers and use that as a form input to authenticate their credentials / existence. As of now we only recognize 5 types of gestures:</p>
        <ul>
            <li>Swipe left</li>
            <li>Swipe right</li>
            <li>Swipe down</li>
            <li>Swipe up</li>
            <li>Tap</li>
        </ul>
        <p>If you want to embed this on your website (Not possible by now though...), you can specify the type of input that you accept to verify your website user's identity. Input the grammar that you want to recognize which allows users to access your website or proceed with a particular transaction.</p>
        <p>As an example, this is the grammar gets you to get here:</p>
        <ul style="list-style-type: none;">
            <li>S -> A U </li>
            <li>A -> u | d | l | r | A A</li>
            <li>U -> t</li>
        </ul>
        <p>The rules specify that you can input any swiping gesture before ending with a tap. The terminals u, d, l, r, t correspondingly refer to up, down, left, right, and tap. Bear in mind that we only accept these terminals in within the grammar at the time being.</p>
        <p>Credits:</p>
        <ul>
            <li>Joshua Antonishen, for providing a neat implementation of the CYK algorithm, used by us as the method of parsing and translating inputs. Check it out <a href="https://github.com/joshingly/cyk">here</a>.</li>
            <li>Eight Media, for providing the awesome Hammer.js used to capture finger gestures in this application. Check it out <a href="https://hammerjs.github.io/">here</a>.</li>
        </ul>
        <p><i>Febryan Margali & Michael of Binus International University</i></p><br/>
    </div>
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>