    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center">
            	<% if @result == true %>
            	<div class="alert alert-success" role="alert"><h2>Grammar is accepted</h2></div>
            	<% else %>
            	<div class="alert alert-danger" role="alert"><h2>Grammar is not accepted</h2></div>
            	<% end %>
            </div>
            <div class = "text-center">
            <table class="table table-bordered">
				<% for i in 0..@string_length-1%>
					<tr>
            		<% for j in 0..@string_length-1-i%>
            			<% if !@table_result[[i, j]].blank?%>
            			<td><%= @table_result[[i, j]][0] %></td>
            			<% else %>
            			<td>Ø</td>
            			<% end %>
            		<% end %>
            			<% if @string[i-1] != nil and i-1 >= 0%>
            			<td><%= @string[i-1] %></td>
            			<% end %>
            		</tr>
            	<% end %>
            	<tr>
            		<td><%= @string[@string_length-1] %></td>
            	</tr>
			</table>
            </div>
        </div>
    </div>