    <br/>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><h2>Input Grammar</h2></input></div>
        </div>
    </div>
    <div class = "row">
        <%= form_for @grammar, url: {action: "create"} do |f| %>
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><%=f.text_field :name , placeholder:"Name of Grammar", class: "gesture-input", :required => true%></input></div>
        </div>
        <br/>
        <br/>
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><%= text_area(:temp, :grammar, cols: 30, rows: 20, class: "gesture-input")%></input></div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><%= f.submit "Create Grammar", class: "btn" %></input></div>
        </div>
        <% end %>
    </div>
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>