    <div class="jumbotron">
        <div class = "row">
            <div class = "col-xs-12 vcenter">
                <div class = "text-center"><h2>Gesture Recognizer for Authentication</h2></div>
            </div>
        </div>
        <div class = "text-center"><p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p></div>
    </div>
    <br/>
    <div class = "text-center"><p><a class="btn btn-primary btn-lg" href="/create" role="button">Create Grammar</a>   <a class="btn btn-primary btn-lg" href="/test" role="button">Test Grammar</a></p></div>
    <br/>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><h2>List of created grammars</h2></input></div>
        </div>
    </div>
    <div class = "row">
        <div class="list-group">
            <div class = "col-xs-6">
                <% @grammars.each do |f| %>
                    <a href="#" class="list-group-item" id = <%=f.id.to_s%>><%=f.name%></a>
                <% end %>
            </div>
            <% @grammars.each do |f| %>
            <div class = "col-xs-6">
                <div class = "text-center highlight" id = <%=f.id.to_s << "temp"%> hidden>
                    Grammar of <%=f.name%> <br>
                    <% @rules.each do |r| %>
                        <% if f[:ID_PASS_PATTERN] == r[:grammar_id]%>
                        <br><%= r[:content] %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <% end %>
            <br>
            <br>
        </div>
    </div>
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>