    <br/>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><h1><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></h1></div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><h4>Hey there! Just wanna make sure that you're authorized to avoid vandalisation of the database...</h4></div>
        </div>
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><h4>Or, this is just an excuse to use the prototype :)</h4></div>
        </div>
        <% if !@errors.nil? %>
        <div class = "col-xs-12 vcenter">
            <div class = "text-center">
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <%= @errors %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <%= form_tag({controller: "home", action: "verification_post"}, method: "post") do %>
    <input type="hidden" id="input_string" name="input[string]" value="" />
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><input class = "gesture-input icomatic" id = "test"></input></div>
        </div>
    </div>
    <br/>
    <div class = "row">
        <div class = "col-xs-4" id = "wrapper">
        </div>
    </div>
    <br/>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><%= submit_tag "Check grammar"%></div>
        </div>
    </div>
    <% end %>
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>