    <br/>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><h2>Input Gesture</h2></div>
        </div>
    </div>
    <%= form_tag({controller: "home", action: "check"}, method: "post") do %>
    <input type="hidden" id="input_string" name="input[string]" value="" />
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><%= select_tag 'input[id]', options_for_select(@grammars.collect{ |g| [g.name, g.id] })%></div>
        </div>
    </div>
    <br/>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><input class = "gesture-input icomatic" id = "test"></input></div>
        </div>
    </div>
    <br/>
    <div class = "row">
        <div class = "col-xs-4" id = "wrapper">
        </div>
    </div>
    <br/>
    <div class = "row">
        <div class = "col-xs-12 vcenter">
            <div class = "text-center"><%= submit_tag "Check grammar"%></div>
        </div>
    </div>
    <% end %>
    <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
