html{
	height: 100%;
}
@-ms-viewport {
  width: device-width; 
}

@viewport {
  width: device-width; 
}

@font-face {
  font-family: 'Icomatic';
  src: url('icomatic.eot');
  src: url('icomatic.eot?#iefix') format("embedded-opentype"), url('icomatic.woff') format("woff"), url('icomatic.ttf') format("truetype"), url('icomatic.svg#icomatic') format('svg'); 
}

.jumbotron{
	background-color: #3a424f;
}

.jumbotron .row{
	color: #fff;
}

.icomatic {
  font-family: 'Icomatic', 'sans-serif';
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased; 
}

.icomatic-alt {
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
}
.home{
	background-color: #dae3e7;
}
.verify{
	background-color: #fdc424;
}
.header{
	background-color: #dae3e7;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	line-height: 30px;
}
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
	border-radius: 4px;
}
.row{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 90.5rem;
	font-family: 'Open Sans';
	color:#3a424f;
}
.row .col-lg-4{
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;
}
.row .col-lg-8{
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: right;
}
.heading{
	font: 'Open Sans Bold';
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.list-inline>li {
	list-style: none;
	float: right;
	margin-left: 1.375rem;
	display: block;
}
.list-inline>li a {
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	padding: 10px 10px;
}
.list-inline>li a:hover {
	color: #fff;
	text-decoration: none;
	background: #428bca;
	border-radius: 6px;
	padding: 10px 10px;
}
#arrow{
	display: inline;
}
.command{
	width: 90%;
	border: none;
	outline: none;
	background-color: #272822;
}
.terminal-text{
	color: #858a90;
}
.error-text{
	color: crimson;
}
#player{
	font-size: 20px;
}
#position{
	font-size: 20px;
	float: right;
}
#desc canvas{
    background: url(http://gamesloveres.com/wp-content/uploads/2014/04/minecraft-hd-grass-block-textureviewing-gallery-for-minecraft-grass-block-texture-pack-gamesloveres-jbihbn31.png);
    background-repeat: no-repeat;
}
.docs-menu{
	background-color: #ffffff;
	color: #dae3e7;
}
.docs-menu li a {
	color: #dae3e7;
}
.docs-menu:hover{
	text-decoration: none;
}
.docs-sidebar{
	max-width: 100.5rem;
}
.content{
	color: #555;
}
ul.nav-tabs {
	width: 140px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child {
	border-top: none;
}
ul.nav-tabs li a {
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
	color: #555;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #dae3e7;
	border: 1px solid #dae3e7;
}
ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a {
	border-radius: 0 0 4px 4px;
}
.c1 {
	color: #999;
}
#wrapper{
	float: none;
	position: relative;
	margin: 0 auto;
	height:auto;
	min-height: 10em;
}

#hitarea{
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 150px;
	cursor: pointer;
	margin: 0 auto;
}

@media only screen and (max-width: 1920px){
    #wrapper {
    	background-color: #252525;
    	height: 20em;
    }
}
@media only screen and (max-width: 1024px){
    #wrapper {
    	background-color: #252525;
    	height: 15em;
    }
    .menu-wrap{
    	width: 200px;
    	-ms-transform: translate(-300px,0px); /* IE 9 */
   		-webkit-transform: translate(-300px,0px); /* Chrome, Safari, Opera */
    	transform: translate(-300px,0px);
    }
}

@media only screen and (max-width: 767px){
    #wrapper {
    	height: 10em;
    }
    .menu-wrap{
    	-ms-transform: translate(-300px,0px); /* IE 9 */
   		-webkit-transform: translate(-300px,0px); /* Chrome, Safari, Opera */
    	transform: translate(-300px,0px);
    }
}

.icon-list span {
	display: block;
	padding: 0.8em;
}
.menu-wrap {
	font-family: 'Open Sans';
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	color: #fff;
	overflow: auto;
}
.menu-button{
	font-family: 'Icomatic';
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	font-size: 1.5em;
	background: transparent;
}
.close-button {
	width: 2em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	font-size: 0.75em;
	border: none;
	background: transparent;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.gesture-input{
	font-family: 'Icomatic';
	text-decoration: none;
	padding: 10px 19px;
	font-size: 17px;
	line-height: 1.471;
	border-radius: 6px;
	border-style: solid;
	border-width: thin;
	border-color: #FFF;
	background-color: transparent;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
}
.table-bordered{
	border: 1px solid #3a424f;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #3a424f;
}