<!DOCTYPE html>
<html>
<head>
  <title>PASS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if session[:verify] == true %>
<body class = "home" data-no-turbolink>
<% else %>
<body class = "verify" data-no-turbolink>
<% end %>

<%= yield %>

</body>
</html>
